/* Side Menu */
.sidebar-enter {
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  transform: translateX(250px);
}

.sidebar-enter-active {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(0);
}

.sidebar-enter-done {
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
}

.sidebar-exit {
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  transform: translateX(0);
}

.sidebar-exit-active {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
}

#sidebar-wrapper {
  background: #313455;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li.sidebar-nav-item a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li.sidebar-nav-item a:active,
.sidebar-nav li.sidebar-nav-item a:focus {
  text-decoration: none;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 15px;
  z-index: 999;
  border: none;
  box-shadow: none;
  outline: none;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.menu-toggle:hover {
  background: #343a40;
}